body {
  color: #555;
  font-weight: 300;
}

.header {
  margin-top: 100px;
  text-align: center;
}

.header h1 {
  font-size: 34px;
}

.header .img-circle {
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
}

.dark-link {
  color: inherit;
}

.dark-link:hover {
  color: #337ab7;
  text-decoration: none;
}
